.more-screen .icon-2X2:first-child {
  margin-top: 35px;
}

.more-suggestions {
  border-top: var(--border);
  padding: 25px 0px;
}

.more-suggestions__icons {
  margin-top: 25px;
  display: flex;
}

.more-suggestions__icon {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.more-suggestions__icon span {
  color: var(--gray-color);
}

.more-suggestions__icon-image i {
  font-size: 30px;
}
